
<section class="sobre-GM">
    <DIV class="sobre">
    <h1>GAME MANIA</h1>
    <p>Há mais de 10 anos no mercado</p>
    <p>proporcionando diversão e</p>
    <p> qualidade aos nossos clientes.</p>

    <p>Aqui você encontra jogos, consoles </p>
    <p>acessórios, notebooks e </p>
    <p>smartphones.</p>
    
    </DIV>







    <div class="informações"> 
        <h2>ATENDIMENTO</h2>
        <img src="img/WPP (1).png" width="50px" height="40px" alt="logo wpp"> <p>(31) 99876-5667</p>
        <p>(31) 3134-7856</p>

        <img src="img/IMG EMAIL.png" width="50px" height="40px" alt="img email"> <p>gamemania@gmail.com  </p>
    </div>   





    <div class="funcionamento">
                <h3>FUNCIONAMENTO</h3>
                <P>seg a sex de 08h ás 18h</P>
                <p>sábado de 08h ás 14h<br/><br/>amazonas 805</p><p>centro,bh</p>
                
    </div>

    <div class="redes-pag">




        <h4>SE CONECTE</h4>
        <form action="">
            <input id="campo-email" type="email" placeholder="E-mail" required>
            <button onclick="enviarEmail()"> Cadastrar</button>

        </form>
        
        
        <a href="#"><img src="img/FACEBOOK.png" width="35px" height="25px" alt="face"> 
        </a> <a href="#"> <img src="img/insta 1.png" width="35px" height="25px" alt="insta"> </a> 
        <a href="#"><img src="img/tik tok 1.png" width="35px" height="25px" alt="tik tok"> </a>

    </div>
</section>




        <div class="cnpj">
            cnpj:  00.000.000/0001.00  © Todos os direitos reservados. 2021
        </div> 

